#container
{
    background-color:firebrick;
    width: 300px;
    height: 300px;
    margin:300px auto 0 auto;
    border-radius: 5%;
    }

#star
{
    font-size: 150px;
    margin: 75px;
}

#star:hover
{
    transform: scale(1.05);
    cursor: pointer;
}