#container, #mainContainer {
    background-color: lightgray;
    width: 1200px;
    height: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    padding: 85px;
}

.navContainer {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.star {
    font-size: 40px;
    margin-left: 235px;
}

.star:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.card {
    background-color: whitesmoke;
    width: 300px;
    height: auto;
    text-align: center;
    padding: 12px;
    border-radius: 5px;
    float: left;
    margin: 20px;
}

.cardTitle {
    background-color: gainsboro;
    width: 276px;
    height: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 5px;
    margin-top:5px;
    margin-bottom:5px;
}

.cardDescription {
    background-color: whitesmoke;
    width: 276px;
    height: 120px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.cardTitle:hover {
    cursor: pointer;
}

.navbar {
    margin-bottom: 0 !important;
}
